@import url('https://fonts.googleapis.com/css2?family=Dhurjati&display=swap');

h1{
    text-align: center;
    font-family: 'Dhurjati';
}

a{
    text-decoration: none;
}

h2{
    font-size: 20px;
}

